doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    if(head)
      if(head.type == 'composer') 
        if(!details.index)
          meta(name="robots" content="noindex")
      link(rel="canonical" href="")
      link(rel="alternate" href="" hreflang="en")
      meta(name="application-name" content="")
      meta(name="keywords" content="")
      meta(name="description" content="")
      meta(name="subject" content="")
      meta(name="robots" content="index,follow,noodp")
      meta(name="googlebot" content="index,follow")
      meta(name="google" content="nositelinkssearchbox")
      meta(name="google-site-verification" content="verification_token")
      meta(name="abstract" content="")
      meta(name="topic" content="")
      meta(name="summary" content="")
      meta(name="classification" content="business")
      meta(name="url" content="")
      meta(name="identifier-URL" content="")
      meta(name="directory" content="submission")
      meta(name="category" content="")
      meta(name="coverage" content="Worldwide")
      meta(name="distribution" content="Global")
      meta(name="rating" content="General")
      meta(name="referrer" content="never")
      //meta(http-equiv="Content-Security-Policy" content="default-src 'self'")
      title #{head.title}
    if(!head)
      meta(name="application-name" content="")
      meta(name="keywords" content="")
      meta(name="description" content="")
      meta(name="subject" content="")
      meta(name="robots" content="index,follow,noodp")
      meta(name="googlebot" content="index,follow")
      meta(name="google" content="nositelinkssearchbox")
      meta(name="google-site-verification" content="verification_token")
      meta(name="abstract" content="")
      meta(name="topic" content="")
      meta(name="summary" content="")
      meta(name="classification" content="business")
      meta(name="directory" content="submission")
      meta(name="category" content="")
      meta(name="coverage" content="Worldwide")
      meta(name="distribution" content="Global")
      meta(name="rating" content="General")
      meta(name="referrer" content="never")
      //meta(http-equiv="Content-Security-Policy" content="default-src 'self'")
      title 
    style
      include ../public/css/inline.css
    link(rel="preload" href="/css/styles.css" as="style" onload="this.rel='stylesheet'")
    noscript
      link(rel="stylesheet" href="/css/styles.css")
    